*.a 
*.o 
*.png 
*.bmp 
*.jpg
*.tga
*.mp3 
*.wav
*.ogg

*.dll
*.exe
*.gch
*.la
*.pc
*.m4
*.wtf
*.bsp
*.map
*.log
*.vsf
*.ptx
*.mpk
*.obj
*.mtl
*.log
*.rar
*.ttf
*.ent
*.zip
*.ozz
*.fbx
*.dae


editor/sounds
editor/textures
editor/test
editor/bsp_debug
